openapi: 3.0.1
info:
  termsOfService: https://notifichedigitali.pagopa.it/radd/index.html
  title: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  x-summary: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  version: '1.0.0'
  contact:
    email: pn-supporto-radd@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/radd/index.html'
  description: >-
    #Abstract
    API per la gestione delle richieste di censimento e modifica dei punti di ritiro SEND da parte
    degli operatori RADD.

    Le API permettono di:
    - richiedere l'attivazione di un nuovo punto di ritiro SEND
    - modificare un punto di ritiro SEND
    - cancellare un punto di ritiro SEND
    - recuperare la lista di punti di ritiro SEND attivi


servers:
  - url: https://api.radd.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.radd.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: Registry

paths:
  /radd-net/api/v1/registry:
    post:
      tags:
        - Registry
      description: >-
        API utilizzata per la richiesta di attivazione nuova anagrafica RADD
      operationId: addRegistry
      parameters:
        - $ref: '#/components/parameters/uid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRegistryResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      tags:
        - Registry
      operationId: retrieveRegistries
      description: API utilizzata per recuperare la lista paginata di anagrafiche RADD dato il cxId
      parameters:
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/lastKey'
        - $ref: '#/components/parameters/cap'
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/pr'
        - $ref: '#/components/parameters/externalCode'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistriesResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-net/api/v1/registry/{registryId}:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la modifica di un'anagrafica RADD
      operationId: updateRegistry
      parameters:
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/registryId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistryRequest'
        required: true
      responses:
        204:
          description: OK
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-net/api/v1/registry/{registryId}/dismiss:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la cancellazione di un'anagrafica RADD
      operationId: deleteRegistry
      parameters:
        - $ref: '#/components/parameters/uid'
        - $ref: '#/components/parameters/registryId'
        - $ref: '#/components/parameters/endDate'
      responses:
        204:
          description: OK
        '400':
          description: Bad Request - Data di fine validità non valida, in quanto non rispetta il preavviso di cancellazione
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

  # ========================================
  # API BACKOFFICE (radd-bo)
  # ========================================

  /radd-bo/api/v1/registry:
    post:
      tags:
        - Registry
      description: >-
        API utilizzata per la richiesta di attivazione nuova anagrafica RADD
      operationId: addRegistryBo
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateRegistryResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    get:
      tags:
        - Registry
      operationId: retrieveRegistriesBo
      description: API utilizzata per recuperare la lista paginata di anagrafiche RADD dato il cxId
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/lastKey'
        - $ref: '#/components/parameters/cap'
        - $ref: '#/components/parameters/city'
        - $ref: '#/components/parameters/pr'
        - $ref: '#/components/parameters/externalCode'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RegistriesResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-bo/api/v1/registry/{registryId}:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la modifica di un'anagrafica RADD
      operationId: updateRegistryBo
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/registryId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistryRequest'
        required: true
      responses:
        204:
          description: OK
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
  /radd-bo/api/v1/registry/{registryId}/dismiss:
    patch:
      tags:
        - Registry
      description: >-
        API utilizzata per la cancellazione di un'anagrafica RADD
      operationId: deleteRegistryBo
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/registryId'
        - $ref: '#/components/parameters/endDate'
      responses:
        204:
          description: OK
        '400':
          description: Bad Request - Data di fine validità non valida, in quanto non rispetta il preavviso di cancellazione
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
components:
  schemas:
    CreateRegistryRequest:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/schemas/CreateRegistryRequest'
    UpdateRegistryRequest:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/schemas/UpdateRegistryRequest'
    CreateRegistryResponse:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/schemas/CreateRegistryResponse'
    RegistriesResponse:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/schemas/RegistriesResponse'
    Registry:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/schemas/Registry'


  parameters:
    registryId:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/registryId'
    endDate:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/endDate'
    uid:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/uid'
    limit:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/limitV1'
    lastKey:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/lastKey'
    cap:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/cap'
    city:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/city'
    pr:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/pr'
    externalCode:
      $ref: 'schemas-pn-radd-alt-registry.yaml#/components/parameters/externalCode'

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

  securitySchemes: # ONLY EXTERNAL
    bearerAuth: # ONLY EXTERNAL
      type: http          # ONLY EXTERNAL
      scheme: bearer      # ONLY EXTERNAL
      bearerFormat: JWT   # ONLY EXTERNAL
#
security: # ONLY EXTERNAL
  - bearerAuth: [ ]     # ONLY EXTERNAL
