openapi: 3.0.1
info:
  termsOfService: https://notifichedigitali.pagopa.it/radd/index.html
  title: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  x-summary: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  version: '1.0.0'
  contact:
    email: pn-supporto-radd@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/radd/index.html'
  description: >-
    #Abstract
    API per la gestione delle coperture RADD da parte degli operatori OPS.

    L' API permette di:
    - verificare se è disponibile la copertura RADD per un determinato indirizzo

servers:
  - url: https://api.radd.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.radd.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: CoveragePrivate

paths:
  /radd-bo/api/v1/coverages/check:
    post:
      tags:
        - CoveragePrivate
      description: >-
        API che verifica se è disponibile la copertura RADD per un determinato indirizzo
      operationId: checkCoverage
      x-api-permissions:
        - 'radd-coverage-read'
      parameters:
        - $ref: 'schemas-pn-radd-alt-coverage.yaml#/components/parameters/searchMode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: 'schemas-pn-radd-alt-coverage.yaml#/components/schemas/CheckCoverageRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-radd-alt-coverage.yaml#/components/schemas/CheckCoverageResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes: # ONLY EXTERNAL
#    bearerAuth: # ONLY EXTERNAL
#      type: http          # ONLY EXTERNAL
#      scheme: bearer      # ONLY EXTERNAL
#      bearerFormat: JWT   # ONLY EXTERNAL
#
#security: # ONLY EXTERNAL
#  - bearerAuth: [ ]     # ONLY EXTERNAL