openapi: 3.0.1
info:
  termsOfService: https://notifichedigitali.pagopa.it/radd/index.html
  title: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  x-summary: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  version: '1.0.0'
  contact:
    email: pn-supporto-radd@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/radd/index.html'
  description: >-
    #Abstract
    API per la gestione delle coperture RADD da parte degli operatori OPS.

    L' API permette di:
    - verificare se è disponibile la copertura RADD per un determinato indirizzo

servers:
  - url: https://api.radd.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.radd.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: Coverage

paths:
  /radd-bo/api/v1/coverages/check:
    post:
      tags:
        - Coverage
      description: >-
        API che verifica se è disponibile la copertura RADD per un determinato indirizzo
      operationId: checkCoverage
      x-api-permissions:
        - 'radd-coverage-read'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'         # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckCoverageRequest'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-radd-alt-coverage.yaml#/components/schemas/Coverage'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    CheckCoverageRequest:
      type: object
      required:
        - cap
        - city
      properties:
        nameRow2:
          type: string
          description: Destinatario
          example: 'c/o Rossi Mario'
        addressRow:
          type: string
          description: Indirizzo 1
          example: 'Via Roma 123'
        addressRow2:
          type: string
          description: Indirizzo 2
          example: 'Interno 5'
        cap:
          type: string
          description: CAP della località coperta
          pattern: '^\d{5}$'
          example: '00000'
        city:
          type: string
          description: Città 1
          example: 'Roma'
        city2:
          type: string
          description: Città 2
          example: 'Centro Storico'
        pr:
          type: string
          description: Provincia
          example: 'RM'
        country:
          type: string
          description: Nazione
          example: 'ITALIA'

  parameters:
    cap:
      name: cap
      description: CAP della località coperta
      in: path
      required: true
      schema:
        type: string
      example: 00000
    search_mode:
      name: search_mode
      description: modalità con cui l’API ricerca la copertura
      in: query
      required: false
      schema:
        type: string
        enum: [ "LIGHT", "COMPLETE" ]
        example: "LIGHT"

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes: # ONLY EXTERNAL
#    bearerAuth: # ONLY EXTERNAL
#      type: http          # ONLY EXTERNAL
#      scheme: bearer      # ONLY EXTERNAL
#      bearerFormat: JWT   # ONLY EXTERNAL
#
#security: # ONLY EXTERNAL
#  - bearerAuth: [ ]     # ONLY EXTERNAL