openapi: 3.0.1
info:
  termsOfService: https://notifichedigitali.pagopa.it/radd/index.html
  title: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  x-summary: 'Piattaforma Notifiche: API B2B per gli operatori RADD'
  version: '1.0.0'
  contact:
    email: pn-supporto-radd@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://notifichedigitali.pagopa.it/radd/index.html'
  description: >-
    #Abstract
    API per la gestione delle richieste di censimento e modifica dei punti di ritiro SEND da parte
    degli operatori OPS.

    Le API permettono di:
    - richiedere l'attivazione di un nuovo punto di ritiro SEND
    - modificare un punto di ritiro SEND


servers:
  - url: https://api.radd.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.radd.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: RegistryV2

paths:
  /radd-bo/api/v2/registry:
    get:
      tags:
        - RegistryV2
      description: >-
        API utilizzata per il recupero di tutti i punti di ritiro di un partner, con paginazione lato DynamoDB.
      operationId: retrieveRegistries
      x-api-permissions:
        - 'radd-registry-read'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/lastKey'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRegistryResponseV2'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    post:
      tags:
        - RegistryV2
      description: >-
        API utilizzata per la richiesta di attivazione nuova anagrafica RADD
      operationId: addRegistry
      x-api-permissions:
        - 'radd-registry-write'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateRegistryRequestV2'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/RegistryV2'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'


  /radd-bo/api/v2/registry/{locationId}:
    patch:
      tags:
        - RegistryV2
      description: >-
        API utilizzata per la modifica di un'anagrafica RADD
      operationId: updateRegistry
      x-api-permissions:
        - 'radd-registry-write'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/locationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRegistryRequestV2'
        required: true
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/RegistryV2'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Not found - Punto di ritiro SEND non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    put:
      tags:
        - RegistryV2
      summary: Aggiornamento selettivo punto di ritiro
      description: >-
        Questa operazione permette di aggiornare i dati di un'anagrafica RADD esistente seguendo una logica di modifica selettiva.
    
        L'API è progettata per consentire l'aggiornamento o il reset di alcune informazioni, proteggendo al contempo i dati che non devono essere variati per ragioni di coerenza o sicurezza.
    
        Il comportamento del sistema dipende da come vengono inviati i campi nel corpo della richiesta:
          - l'inserimento di un valore specifico comporta l'aggiornamento del dato sul database;
          - l'invio di un campo omesso o con valore nullo ne provoca la cancellazione;
    
        È importante notare che l'indirizzo del punto di ritiro è considerato un dato non modificabile. 
        Per assicurare l'integrità della sede, il valore fornito nella richiesta deve corrispondere esattamente a quello già presente a sistema; 
        in caso di discrepanza, l'operazione non verrà autorizzata e verrà restituito un errore.
      operationId: selectiveUpdateRegistry
      x-api-permissions:
        - 'radd-registry-write'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/locationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectiveUpdateRegistryRequestV2'
      responses:
        '200':
          description: Aggiornamento completato con successo
          content:
            application/json:
              schema:
                $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/RegistryV2'
        '400':
          description: Richiesta non valida
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '404':
          description: Punto di ritiro non trovato
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
    delete:
      tags:
        - RegistryV2
      description: >-
        API utilizzata per la cancellazione di un punto di ritiro di un partner
      operationId: deleteRegistry
      x-api-permissions:
        - 'radd-registry-write'
      parameters:
        - $ref: 'remote-refs.yaml#/components/parameters/cxTypeAuthFleet'       # NO EXTERNAL
        - $ref: 'remote-refs.yaml#/components/parameters/cxIdAuthFleet'
        - $ref: 'remote-refs.yaml#/components/parameters/uidAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/locationId'
      responses:
        204:
          description: Ok
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '405':
          description: Not Allowed
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    CreateRegistryRequestV2:
      type: object
      required:
        - address
        - description
        - phoneNumbers
        - externalCodes
      properties:
        externalCodes:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/ExternalCodes'
        description:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Description'
        phoneNumbers:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/PhoneNumbers'
        openingTime:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/OpeningTime'
        endValidity:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/EndValidity'
        email:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Email'
        appointmentRequired:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/AppointmentRequired'
        website:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Website'
        address:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/AddressV2'
        startValidity:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/StartValidity'
        partnerType:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/PartnerType'

    UpdateRegistryRequestV2:
      type: object
      properties:
        externalCodes:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/ExternalCodes'
        description:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Description'
        phoneNumbers:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/PhoneNumbers'
        openingTime:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/OpeningTime'
        endValidity:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/EndValidity'
        email:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Email'
        appointmentRequired:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/AppointmentRequired'
        website:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Website'
        coordinates:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Coordinates'

    SelectiveUpdateRegistryRequestV2:
      type: object
      required:
        - address
        - description
        - phoneNumbers
        - externalCodes
      properties:
        externalCodes:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/ExternalCodes'
        description:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Description'
        phoneNumbers:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/PhoneNumbers'
        address:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/AddressV2'
        openingTime:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/OpeningTime'
          nullable: true
        startValidity:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/StartValidity'
          nullable: true
        endValidity:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/EndValidity'
          nullable: true
        email:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Email'
          nullable: true
        appointmentRequired:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/AppointmentRequired'
          nullable: true
        website:
          $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/Website'
          nullable: true

    GetRegistryResponseV2:
      type: object
      properties:
        items:
          type: array
          description: Lista dei punti di ritiro trovati
          items:
            $ref: 'schemas-pn-radd-alt-registry-v2.yaml#/components/schemas/RegistryV2'
        lastKey:
          type: string
          description: Chiave dell’ultimo elemento restituito (LastEvaluatedKey DynamoDB)

  parameters:
    locationId:
      name: locationId
      description: Identificativo della sede del punto di ritiro
      in: path
      required: true
      schema:
        type: string
    partnerId:
      name: partnerId
      description: C.F. del partner erogatore
      in: header
      required: true
      schema:
        type: string
    limit:
      name: limit
      description: Numero massimo di elementi da restituire per pagina
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 1000
        default: 1000
    lastKey:
      name: lastKey
      description: Chiave dell’ultimo elemento restituito per ottenere la pagina successiva (ExclusiveStartKey DynamoDB)
      in: query
      required: false
      schema:
        type: string

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes: # ONLY EXTERNAL
#    bearerAuth: # ONLY EXTERNAL
#      type: http          # ONLY EXTERNAL
#      scheme: bearer      # ONLY EXTERNAL
#      bearerFormat: JWT   # ONLY EXTERNAL
#
#security: # ONLY EXTERNAL
#  - bearerAuth: [ ]     # ONLY EXTERNAL